[init]
    defaultBranch = main
[user]
    email = ronnyvu321@gmail.com
    name = Vu Nhat Chuong
[safe]
    directory = *
[core]
    editor = nvim
    ui = true
    ignorecase = false
    autocrlf = input
    eol = lf
[credential]
    helper = /sbin/git-credential-manager
    credentialStore = secretservice
[credential "https://dev.azure.com"]
    useHttpPath = true
