[user]
    name = Vu Nhat Chuong
    email = ronnyvu321@gmail.com

[init]
    defaultBranch = main

[safe]
    directory = *

[core]
    editor = nvim
    pager = delta
    ui = true
    ignorecase = false
    autocrlf = input
    eol = lf
    # excludesfile = ~/.gitignore

[remote]
    pushDefault = origin

[branch]
    autosetuprebase = always
    # Show most recently changed branches first.
    sort = -committerdate

[pull]
    rebase = true

[rebase]
    autoStash = true

[commit]
    verbose = true

[diff]
    colorMoved = default # Moved lines in a diff are colored differently
    # renames = copies # Detect copies as well as renames.

[merge]
    conflictstyle = diff3
    tool = nvim

[mergetool]
    prompt = false

[mergetool "nvim"]
    cmd = nvim -c "DiffviewOpen"

[interactive]
    diffFilter = delta --color-only

[delta]
    true-color = always
    features = line-numbers decorations
    navigate = true    # use n and N to move between diff sections

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = yellow ul

[credential]
    helper = /sbin/git-credential-manager
    credentialStore = secretservice
[credential "https://dev.azure.com"]
    useHttpPath = true
