[user]
    name = Vu Nhat Chuong
    email = ronnyvu321@gmail.com

[init]
    defaultBranch = main

[safe]
    directory = *

[core]
    editor = nvim
    ui = true
    ignorecase = false
    autocrlf = input
    eol = lf
    excludesfile = ~/.gitignore

[remote]
    pushDefault = origin

[branch]
    autosetuprebase = always

[pull]
    rebase = true

[commit]
    verbose = true

[credential]
    helper = /sbin/git-credential-manager
    credentialStore = secretservice
[credential "https://dev.azure.com"]
    useHttpPath = true
