* {
    background-color: transparent;
    font-family: JetbrainsMono Nerd Font;
    font-size: 15px;
    font-weight: bold;
}

@import "themes/theme.css";

window#waybar {
    border: 2px solid @border-bg;
    border-radius: 6px;

    background-color: @bar-bg;

    transition-property: background-color;
    transition-duration: 0.5s;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 7px;
    border-width: 0px;
}

button {
    box-shadow: inset 0 -6px transparent;
    box-shadow: @border-bg 2px 0;
    border: none;
    border-radius: 0px;
}

button:hover {
    background: inherit;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    padding-right: 2px;
    color: @main-fg;
}

#workspaces button.active {
    background-color: @wb-act-bg;
    color: @wb-act-fg;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 11px;
    padding-right: 12px;
}

#workspaces button:hover {
    background-color: @wb-hvr-bg;
    color: @wb-hvr-fg;
}

#window,
/* Modules right */
/* Left  */
#workspaces,
#clock,
#backlight,
#network,
#bluetooth,
#pulseaudio,
/* Middle  */
#mpris,
#language,
#tray,
#battery,
/* Right  */
#custom-wallchange,
#custom-theme,
#custom-wbar,
#custom-power,
#custom-spacing {
    color: @main-fg;
    background: @main-bg;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces {
    padding: 0px;
}

#custom-divider_L {
    border-left: 2px solid @border-bg;
}
#custom-divider_R {
    border-right: 2px solid @border-bg;
}
